
<p>
    <mat-toolbar>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
    </mat-toolbar>
</p>


<app-cards-list></app-cards-list>
<!-- <app-card-detail></app-card-detail> -->
<ul>
    <li>https://docs.magicthegathering.io/#documentationgetting_started</li>
    <li>https://mana.andrewgioia.com/</li>
    <li>https://www.pexels.com/</li>
    <li>https://scryfall.com/card/phed/33/counterspell</li>
    <li>Photo by Henry & Co. httpswww.pexels.comphotowhite-painted-wall-1939485</li>
    <li>Photo by Artem Podrez: https://www.pexels.com/photo/a-photo-of-green-parchment-paper-7233124/</li>
    <li>Photo by bt3gl ♡: https://www.pexels.com/photo/overhead-view-of-sea-waves-3689659/</li>
    <li>Photo by icon0.com: https://www.pexels.com/photo/orange-flames-wallpaper-216640/</li>
    <li>Photo by Skylar Kang: https://www.pexels.com/photo/dark-background-with-pale-wavy-lines-6044820/</li>

</ul>

