.example-card {
  border: 8px solid #000000;
}

.example-header-image {
  background-image: url('https://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=1&type=card');
  background-size: cover;
}

.bg-U{
  // background-color: rgb(193, 215, 233);
  background-image: url('../../assets/blue.jpg');
}
.txt-U{
  color: #000000
}